@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800&family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600&display=swap');

/* ------------ INITIALS ---------- */

body { 
    margin:0;
    font-family:'Vollkorn','Times New Roman', Times, serif;
    font-size:16px;
}

a {
    text-decoration: none;
    color:#fff;
}


.left{
    float:left;
}

.right{
    float:right;
}

/* .col {
    width:40%;
} */

h1, h2 {
    text-align: center;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size:2em;
}

button, .btn {
    border:1px solid #008ece; 
    background-color:#008ece;
    color:#fff;
    padding:0.8em 1em;
    font-size: 16px;
}

button:hover, .btn:hover {
    background-color:#0e7eb1;
}

input {
    padding: 1em;
    margin-left:0.5em;
    border:1px solid transparent;
}
input:hover {
    border:1px solid #008ece;
} 

input.in-date {
    padding: 0.83em;
    width:250px;
}

/* ------------ HEADER ---------- */

.header a, footer a {
    color:#fff;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size:18px;
    text-transform: capitalize;
}


.header {
    background-color: #000;
    padding:0.1em;
}

nav ul li {
    display: inline-flex;
    vertical-align: middle;
}

nav a {
    padding:1em;
    padding-left:1em;
}
nav li:first-child  a{
    padding:0;
}
nav li:first-child a:hover  {
    background-color: transparent;
}

nav a:hover  {
    background-color: rgba(255, 255, 255, 0.20);
}

/* ------------ FOOTER ---------- */

footer {
    background-color: #008ece;
    padding:1em;
    clear: both;
}

.footerLinks ul {
    text-align: center;
}

.footerLinks ul li{
    display: inline;
    padding:2em;
}

.footerLinks ul li a:hover {
    text-decoration: underline;
    color:#064b6b;
}


/* ---- home page */

#hero {
    background-image: url(./images/don-joviani.jpeg);
    background-position: bottom;
    margin:2.2em;
    min-height:500px;
}

.caption {
    color:#fff;
    text-align:center;
    padding:11em;
}
.caption .title {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 58px;
}

.caption .dates{
    font-size:28px;
    margin-bottom:10px;

}

.caption .composer{
    font-size:28px;
}


#search {
    text-align: center;
    padding:1em 0 2em 0;
    margin: 0 2.2em;
    background-color: #ebebeb;
}

#banners {
    text-align: center;
    margin:2em;
}

#banners img {
    width:33%;
    margin-right: 5px;
}


.feature-photo {
    /* background: url(/assets/madama-butterfly.jpeg); */
     background-size: contain;
     min-height: 250px;
    }
    .title {
        font-size:35px;
    }
    .feature .composser {
        font-size:20px;
    }
    .room {
        color:rgb(126, 126, 126);
        margin-top:10px;
    }
    
    .feature .dates {
        text-align: right;
        font-size:20px;
    }
    #feature-feed .sticky {
        position: absolute;
        right: 0;
        top: 16em;
        padding-left: 65px;
        padding-right: 35px;
    }
    .sticky span {
        padding-left:10px;
        padding-top:2px;
        position: absolute;
    }